# Ignore python venv
backend/venv/
.env


# byte-compiled / cache files
backend/app/__pycache__/
backend/*.pyc
**/__pycache__/
**/*.py[cod]

# docker files
**/db-data/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
frontend/node_modules/
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-store/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore all cache folders inside backend and its subfolders
backend/**/__pycache__/
backend/app/*/__pycache__
backend/**/cache/
backend/**/Cache/

# Ignore all markdown files
*.md
backend/**/*.md

frontend/node_modules/
frontend/.next/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/coverage
frontend/.out/
frontend/build
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/.env*
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts
frontend/pnpm-lock.yaml
backend/app/__pycache__/main.cpython-311.pyc
backend/app/__pycache__/main.cpython-311.pyc
frontend/design
markdown