# For Pydantic EmailStr support
email-validator
fastapi
uvicorn
alembic
requests
sqlalchemy
python-dotenv
sqlalchemy[asyncio]
asyncpg
websockets
python-jose[cryptography] 
passlib[bcrypt] 
python-dotenv 
aiosmtplib