bcrypt<4.0.0
pydantic
email-validator
fastapi
uvicorn
python-multipart
alembic
requests
sqlalchemy
python-dotenv
sqlalchemy[asyncio]
asyncpg
websockets
python-jose[cryptography] 
passlib[bcrypt] 
python-dotenv 
aiosmtplib